zones:
  - name: trust
    type: l3
    interfaces:
      - enp0s8
    networks:
      - 10.20.10.0/24
      - 10.20.20.0/24
  - name: untrust
    type: l3
    interfaces:
      - enp0s3

interfaces:
  - name: enp0s8
    ip: 10.20.10.1/24
    zone: trust
    state: up
    management: [ping]

vlans: 
  - name: enp0s8.10
    parent: enp0s8
    id: 10
    ip: 10.30.10.1/24
    state: up
    zone: trust
    management: [ping]

addresses:
  - name: SERVERS
    ips:
      - 10.0.0.0/24

services:
  - name: HTTP
    protocol: tcp
    ports: [80]

  - name: QUIC
    protocol: udp
    ports: [443]

  - name: HTTPS
    protocol: tcp
    ports: [443]

  - name: DNS
    protocol: udp
    ports: [53]

dhcp:
  - interface: enp0s8
    pool: 10.20.10.100-10.20.10.200
    gateway: 10.20.10.1
    dns:
      - 8.8.8.8
      - 1.1.1.1
    lease_time: 12h
    
  - interface: enp0s8.10
    pool: 10.30.10.100-10.30.10.200
    gateway: 10.30.10.1
    dns:
      - 8.8.8.8
      - 1.1.1.1 
    lease_time: 12h 

routes: 
  - id: 1
    destination: 0.0.0.0/0
    gateway: 10.30.35.1
    interface: enp0s3
    metric: 100
    description: "Default route to internet"

policies:
  - id: 1
    src-zone: trust
    dst-zone: untrust
    src-addr: 10.20.10.1/24
    dst-addr: any
    services: [HTTP, HTTPS, DNS, QUIC]
    action: allow
    log: true

nat:
  - id: 1
    type: source
    src-zone: trust
    dst-zone: untrust
    outInterface: enp0s3
    action: masquerade
    description: "Masquerade for trust to untrust"
